@model department
<form asp-action="add" asp-controller="department">
    <label asp-for="DName">department name</label>
    <input asp-for="DName">

    <label asp-for="Dnum">department number</label>
    <input asp-for="Dnum">
    <input type="submit" value="add">

</form>