@model department

<div>
    <span class="two">Department Number:</span>

    <span>@Model.Dnum</span>
</div>

<div>
    <span class="two">Department Name:</span>

    <span>@Model.DName</span>
</div>