@model Int32

<form action="/Dependent/addNew" class="form-control">
  
    <label>Name</label>
    <input id="Name" name="Name" type="text" class="form-control"/>

    <label>Sex</label>
    <input id="Sex" name="Sex" type="text" class="form-control"/>

    <label>Birth Date</label>
    <input id="BirthDate" name="BirthDate" type="datetime" class="form-control"/>

    <label>Relationship</label>
    <input id="Relationship" name="Relationship" type="text" class="form-control"/>

    <label>Employee Name</label>

    <input type="submit" value="Add" class="btn btn-success"/>
</form>