@model workon

<a href="/workonProject/AddEmployees/1"class="btn btn-success">Add Another Employees</a>
<a href="/department/GetDeptByMgrId/@ViewBag.mgrSSN" class="btn btn-success">Return To Your Department</a>
<a href="/employee/getinfo/@ViewBag.mgrSSN" class="btn btn-success">Return To Your Profile</a>