<form action="/Employee/logging">
    <div>
        <span><label for="ID">ID</label></span>
        <span><input type="text" id="ID" name="SSN" class="form-control" /></span>
    </div>
    <div>
        <span><label for="fname">first name</label></span>
        <span><input type="text" id="name" name="Fname" class="form-control" /></span>
    </div>
    <input type="submit" value="login" class="btn btn-success">
</form>